<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {padding: 15px;}</style>
</head>
<body>

<h1>Users Table</h1>

<form action="/add" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="surname" placeholder="Surname">
    <input type="number" name="age" placeholder="Age">
    <button type="submit">Add user</button>
</form>

<table border="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td>

                <form th:action="@{/update/{id}(id=${user.id})}" th:method="post">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="text" name="name" placeholder="Name" th:value="${user.name}">
                    <input type="text" name="surname" placeholder="Surname" th:value="${user.surname}">
                    <input type="number" name="age" placeholder="Age" th:value="${user.age}">
                    <button type="submit">Update User</button>
                </form>

                <form th:action="@{/delete/{id}(id=${user.id})}" th:method="post">
                    <button type="submit">Delete User</button>
                </form>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>